.aboutContainer{
    display:flex;
    background-color: white;
    color: black;
    height: 70vh;
    padding: 100px 0 100px 0;
}

.aboutDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0px 100px 0 100px;
}

.aboutDesc > h3 {
    margin-bottom: 30px;
    font-size: 28px;
}

.aboutDesc > p {
    line-height: 1.5;
}

.aboutImg{
    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
    height: 60vh;
}