.aboutContainer{
    display:flex;
    background-color: white;
    color: black;
    height: 70vh;
    padding: 100px 0 100px 0;
}

.aboutDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0px 100px 0 100px;
}

.aboutDesc > h3 {
    margin-bottom: 30px;
    font-size: 45px;
}

.aboutDesc > p {
    line-height: 1.5;
    font-size: 25px;
}

.aboutImg{
    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
    height: 60vh;
}

@media only screen and (max-width: 960px){
    .aboutContainer{
        flex-direction: column;
        padding: 0;
        height:auto;
    }
    .aboutDesc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;

    }
    .aboutDesc > h3 {
        font-size: 25px;
        text-align: center;
    }

    .aboutImg{
        width: 100%;
        margin-bottom: 50px;
    }

    .aboutImg > img {
        width: 100%;
    }
}